
.recsec{

  width: 100%;
  height: auto;
  @include content_padding();

  position: relative;
  z-index: 5;

  h3{
    @include h3s();
  }

  dl{

    display: flex;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 60px auto 120px;
    padding: 50px;
    background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
    background-size: 4px 4px;
    @include inview_item();
    @include roboto();

    &:nth-last-of-type(1){
      margin-bottom: 0;
    }

    dt,dd{
      padding:25px 0;
      // background: #ebebeb;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // border-bottom: 1px dashed $coc;
    }

    dt{
      width: 20%;
      background: #e6e6e6;
      border-bottom: 1px solid #fff;
    }

    dd{
      width: calc(80% - 1px);
      justify-content: flex-start;
      padding:25px 15px;
      line-height: 180%;
      border-bottom: 1px solid #e6e6e6;
      background: white;

   

      span.break{
        display: block;
        width: 100%;
      }

      a{
        // color: $coc;
        text-decoration: none;
        color: black;
      }

    }

    @include mq(){

      margin: 30px auto 60px;
     
      dt,dd{
        font-size: 14px;
      }

        dd{

          br{
            display: inline;
          }
        }
      
    }
    
  }


  @include mq(sm){

    h3{

      font-size: 24px;;
    }

    dl{

      padding:20px 10px;
      
      dt,dd{
        width: 100%;
        justify-content: center;
        border-bottom: 0px;
      }

      dt{
        background: $coc;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }

    }

  }

}

.recontact{

  width: 100%;
  position: relative;
  @include content_padding();
  z-index: 5;
  background: $coc;
  background-image: url(../images/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align:center;

  line-height: normal;

  p{
    font-size: 30px;
    color: white;
    text-align:center;
   
  }

  h4{
    font-size: 18px;
    color: $coc;
    text-align:center;
    
    padding:15px 30px;
    margin: 30px 0;
    background: #fff;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;


    span,i{
      margin-right: 10px;
      font-size: 28px;
    }

  }

  .links{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin:50px auto 0;
   
    .linkbut{

      // @include inview_item();
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: $coc;
      margin:0 5px;
    
      background: white;
      padding: 15px 20px;
      transform: skewX(-10deg);
      // border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transition: .4s;
    
      div{
        transform: skew(10deg); 
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    
      i{
        margin-left: 10px;
      }
    
      img{
        margin-left: 10px;
        width: 40px;
        height: auto;
        display: block;
        transition: .6s;
        
      }
    
      &:hover{
        
        img{
          transform: rotateX(360deg)
        }
    
      }
    
    }
    
    &:hover{
      animation-name: boyon;
      animation-duration: .8s;
      animation-timing-function: cubic-bezier(.2, 2, 0.6, .6);
      animation-fill-mode: both;
      img{
        transform: rotateX(360deg)
      }
  
    }
  }


  @include mq(sm){

    p{
      font-size: 16px;

    }

    h4{
      font-size: 14px;

      span{
        font-size: 20px;
      }

      a{
        font-size: 20px;
        color: $coc;
        font-weight: bold;
      }
    }
  }
}