
.loader{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;

    left: 0;
    top: 0;

    background: white;
    z-index: 36000;

    img{
        width: 150px;
        height: auto;
    }
}