
.company_cont1{

  width: 100%;
  @include content_padding();
  @include maxw();
  margin: 0 auto;
  position: relative;
  z-index: 5;


  h3{
    
    font-size: 60px;
    color: $coc;
    text-align: center;

    span{
      font-size: 18px;
      display: block;
      margin-top:10px;
    }
    @include inview_item();
  }


  dl{

    display: flex;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 60px auto 120px;
    @include inview_item();

    dt,dd{
      padding:25px 0;
      // background: #ebebeb;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px dashed $coc;
    }

    dt{
      width: 20%;
      // border-right: 2px solid white;
    }

    dd{
      width: 78%;
      justify-content: flex-start;
      padding:25px 15px;
      line-height: 180%;

      br{
        display: none
      }

      span.break{
        display: block;
        width: 100%;
      }

      a{
        // color: $coc;
        text-decoration: none;
        color: black;
      }

    }

    @include mq(){

      margin: 30px auto 60px;
     
      dt,dd{
        font-size: 14px;
      }

        dd{

          br{
            display: inline;
          }
        }
      
    }
    
  }

  .accesstext{

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    margin-top:50px;

    padding: 30px;
    line-height: normal;
    background: white;
  }

  @include mq(){

    padding: 50px 0 0;

    dl{
      padding: 0 15px;
    }

  }

  @include mq(sm){

    h3{
      font-size: 30px;
    }

    dl{

      dt,dd{
        width: 100%;
        justify-content: center;
        border-bottom: 0px;
      }

      dt{
        background: $coc;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      dd{
        background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
        background-size: 4px 4px;
      }
    }

    .accesstext{

      display: none;
    }

  }

}

.compcatch{
  width: 100%;
  @include content_padding();
  @include maxw();
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  padding: 30px;
  background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
  background-size: 4px 4px;

  p{
    width: 65%;
    height: auto;
    font-size: 18px;
    line-height: 180%;

    strong{
      font-size: 24px;
      display: block;
      margin-bottom: 30px;
      border-bottom: 2px solid $coc;
    }

    span{
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      color: $coc;
      float: right;
    }
  }

  img{
    width: 30%;
  }

  @include mq(){
    margin: 0 auto;
  }

  @include mq(sm){

    p,>img{
      width: 100%;
    }

    p{
      margin-bottom: 20px;
    }

  }
}

.imgs{

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  margin-bottom: 80px;

  div{

    width: 48%;
    position: relative;
  

    img{
      width: 100%;
      margin-bottom: 10px;
    }

    p{
      position: absolute;
      font-size: 16px;
      padding: 10px 15px;
      right: 0;
      bottom: 20px;
      background: $coc;
      color: white;
      font-weight: bold;
    }
  }
}


.google-map {

  @include inview_item();
  position: relative;
  width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
  height: 0;
  padding-bottom: 36.25%;    /* padding-topでもOK */
  overflow: hidden;
  margin-top:80px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    /* 必要であれば!importantを付けてください */
    height: 100%;    /* 必要であれば!importantを付けてください */
  }

  @include mq(){

    padding-bottom: 70%;
    margin-top:30px;

  }
}
