
.cont1{

  width: 100%;
  height: auto;
  @include content_padding();
  @include maxw();
  margin: 0 auto;
  background-image: url(../images/graylogo.svg);
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position:right top;

  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  overflow: hidden;

  &:nth-of-type(1) .linkbtn{
    position: absolute;
    right: 20px;
    bottom: 50px;

  }

  &:nth-of-type(2){
    background: none;
  } 

  .inner{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .textcont{
      width: 55%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    .leftimg{
      width: 40%;
      transform:translateY(30px) skewX(-10deg);
      transition: .6s;
      opacity: 0;

      &.move{
        opacity: 1;
        transform:translateY(0px) skewX(-10deg);
      }
    }
  }

  h3{
    
    font-size: 60px;
    color: $coc;
    text-align: center;

    span{
      font-size: 18px;
      display: block;
      margin-top:10px;
    }
    @include inview_item();
  }

  p{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 200%;
    letter-spacing: 1px;
    display: block;
    margin: 30px 0;
    color: $fontc;
    width: 100%;
    
    &.centrep{
      text-align: center;
    }

    @include inview_item();
  }

  ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    li{
      width: 25%;
      position: relative;
      background-color: black;
      line-height: 0;


      img{
        width: 100%;
        height: auto;
        transition: .2s;
      }

      &:hover{

        img{
          opacity: .8;
        }

        &:nth-of-type(1) span{right: 10px;bottom: 20px}
        &:nth-of-type(2) span{left: 10px; top: 20px}
        &:nth-of-type(3) span{right: 10px; bottom: 20px}
        &:nth-of-type(4) span{left: 10px; top: 20px}
      }

      span{
        font-weight: bold;
        font-size: 2vw;
        transition: .2s;
        line-height: normal;

        @include mq(xl){
          font-size: 22px;
        }

        color: white;
        background-color: $coc;
        position: absolute;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: skewX(-10deg);
      }

      &:nth-of-type(1) span{right: 0;bottom: 20px}
      &:nth-of-type(2) span{left: 0; top: 20px}
      &:nth-of-type(3) span{right: 0; bottom: 20px}
      &:nth-of-type(4) span{left: 0; top: 20px}
    }
  }



  @include mq(){

    background-size: 100% auto;

    h3{
      width: 100%;
      font-size: 30px;
    }

    p{
      margin: 30px 0;
      font-size: 16px;

      br{
        display: none;
      }
    }

    .inner{
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
  
      .textcont{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        order: 1;
      }
  
      .leftimg{
        order: 2;
        width: 100%;
        transform:translateY(30px) skewX(0deg);
        transition: .6s;
        opacity: 0;
        margin-bottom: 20px;
  
        &.move{
          opacity: 1;
          transform:translateY(0px) skewX(0deg);
        }
      }
    }

    &:nth-of-type(1) .linkbtn{

      position: relative;
      right: 0px;
      bottom: 0px;
      margin: 30px 0;
  
    }

    ul{

  
      li{

        width: 50%;
        position: relative;
  
        span{
          font-weight: bold;
          font-size: 4vw;
          color: white;
          background-color: $coc;
          position: absolute;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          transform: skewX(-10deg);
        }
  
        &:nth-of-type(1) span{right: 0;bottom: 20px}
        &:nth-of-type(2) span{left: 0; top: 20px}
        &:nth-of-type(3) span{right: 0; bottom: 20px}
        &:nth-of-type(4) span{left: 0; top: 20px}
      }
    }

  }

}

.cont1under{

  @extend .cont1;

  p{
    text-align: center;
  }


}