
.cont3{

  width: 100%;
  height: auto;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color:rgb(0, 138, 162);
  background-image: url(../images/cont3_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;

  position: relative;
  z-index: 2;

  h5,h4{

    font-size: 60px;
    color: white;
    text-align: center;

    span{
      font-size: 18px;
      display: block;
      margin-top:10px;
    }
    @include inview_item();


  }

  >p{
    font-size: 18px;
    text-align: center;
    line-height: 200%;
    letter-spacing: 1px;
    display: block;
    margin: 60px 0;
    color: $fontc;
    width: 100%;
    color: white;
    text-shadow: 0 0 5px gray;

    @include inview_item();
  }

  .links{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
   
    .linkbut{

      // @include inview_item();
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: $coc;
      margin:0 5px;
    
      background: white;
      padding: 15px 20px;
      transform: skewX(-10deg);
      // border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transition: .4s;
    
      div{
        transform: skew(10deg); 
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
    
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    
      i{
        margin-left: 10px;
      }
    
      img{
        margin-left: 10px;
        width: 40px;
        height: auto;
        display: block;
        transition: .6s;
        
      }
    
      &:hover{
        
        img{
          transform: rotateX(360deg)
        }
    
      }
    
    }
    
    @include inview_item();


  }


  @include mq(){

    padding: 30px 20px;

    h4{

      font-size: 6.5vw;
      line-height: 180%;
      text-align: center;
      border: 0px;
      padding: 0px;
      width: 100%;
      font-weight: bold;
      text-shadow: 0 0 5px white;

      br{
        display: inline;
      }

    }

    h5{

      font-size: 9.5vw;
      text-align: center;
      border: 0px;
      padding: 0px;
      width: 100%;
      font-weight: bold;

      text-shadow: 0 0 5px white;

      br{
        display: inline;
      }
    }

    >p{
      margin:20px 0;
      font-size: 16px;
      width: 90%;

      br{
        display: none;
      }
    }

    .nums{

      width: 100%;
      border-radius: 0;

      div{
        width: 100%;


        p{

          width: 100%;
          font-size: 30px;
          font-weight: bold;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          letter-spacing: 2px;
  
          span{
  
         
            width:  50px;
            height: 50px;
            margin-right: 0px;
            margin-bottom: 10px;
  
            i{
              color: #007780;
              font-size: 24px;
              margin: 0;
              padding: 0;
            }
          }
        }


        &:nth-of-type(1){
          border-right: 0px;
          border-bottom: 1px solid white;
          margin-bottom: 15px;
          padding-bottom: 15px;
        }
      }
    }

    .links{

      .linkbut{
        width: 80%;
        margin-bottom: 10px;
      }

    }

  }

}