

  #ABOUT{
    background-image: url(../images/eye_bg_about.jpg);
  }

.feature_cont2{

  width: 100%;
  height: auto;
  @include content_padding();

  background: url(../images/feature_bg.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top:-50px;
  position: relative;
  z-index: 5;

  h3{
    font-size: 26px;
    color: rgb(31, 31, 31);
    text-align: center;
    line-height: 180%;
    transform: translateY(-30px);
    margin-bottom: 50px;
    @include inview_item();

    span{
      // display: block;
      border-top: 4px solid  #2f43a2;
      padding-top: 10px;
    }
  }

  .inbox{

    width: 100%;
    @include maxw();
    margin: 0 auto 100px;
    @include inview_item();

    &:nth-last-of-type(1){
      margin-bottom: 0;
    }

    &:nth-last-of-type(2n){
      
      img{
        order: 2;
      }

      p{
        order: 1;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    >img{
      width: 40%;
      height: auto;
      transform: skew(-5deg);

    }

    p{

      width: 55%;
      height: auto;
      line-height: 180%;
      font-size: 16px;
      color: rgb(29, 29, 29);
      @include inview_item();

      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      // span{
      //   font-weight: bold;
      //   color:  #007780;
      //   display: block;
      //   margin: 15px 0;
      // }
    }


    .linkbtnunder{

      width: auto;
      margin-top:30px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      text-align: right;
    
      background: $coc;
      padding: 15px 20px;
      transform: skewX(-10deg);
    
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transition: .4s;
    
      span{
    
        width: 100%;
        transform: skew(10deg); 
        display: flex;
        justify-content: center;
        align-items: center;
    
      }
    
    
      img{
        margin-left: 10px;
        width: 30px;
        height: auto;
        display: block;
        transition: .6s;
        
      }
    
      &:hover{
        animation-name: boyon;
        animation-duration: .8s;
        animation-timing-function: cubic-bezier(.2, 2, 0.6, .6);
        animation-fill-mode: both;
        img{
          transform: rotateX(360deg)
        }
    
      }
    
      }
    

  }

  .pcnon{
    display: none;
  }

  @include mq(sm){

    background: url(../images/feature_bg.svg) ,url(../images/feature_bg.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top, center center;

    .pcnon{
      display: inline;
    }

    h3{
      font-size: 4vw;
      margin-bottom: 20px;
    }

    .inbox{

      margin-bottom: 80px;

      &:nth-last-of-type(2n){
      
        img{
          order: 1;
        }
  
        p{
          order: 2;
        }
      }

      img,p{
        width: 100%;
      }

      p{
        justify-content: center;
      }

      >img{
        margin-bottom: 20px;
      }

      .linkbtnunder{

        padding: 10px;
        span{
      
          width: 100%;
          transform: skew(10deg); 
          display: flex;
          justify-content: center;
          align-items: center;
      
        }
      


      
        }
      

    }

  }


}