
.company_cont1{

  width: 100%;
  @include content_padding();
  @include maxw();
  margin: 0 auto;

  h3{
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    color: $coc;
    @include inview_item();

    span{
      // display: block;
      border-top: 4px solid $coc;
      padding-top: 10px;
    }
  }

  dl{

    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 60px auto 120px;
    @include inview_item();

    dt,dd{
      padding:25px 0;
      background: #dcede2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 2px solid white;
    }

    dt{
      width: 20%;
      border-right: 2px solid white;
    }

    dd{
      width: 80%;
      justify-content: flex-start;
      padding:25px 15px;
      line-height: 180%;

      br{
        display: none
      }

      a{
        // color: $coc;
        text-decoration: none;
        color: black;
      }

    }

    @include mq(){

     

        dd{

          br{
            display: inline;
          }
        }
      
    }
    
  }

}

.google-map {
  @include inview_item();
  position: relative;
  width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
  height: 0;
  padding-bottom: 36.25%;    /* padding-topでもOK */
  overflow: hidden;
  margin-top:80px;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;    /* 必要であれば!importantを付けてください */
  height: 100%;    /* 必要であれば!importantを付けてください */
}