
.company_cont1{

  width: 100%;
  @include content_padding();
  @include maxw();
  margin: 0 auto;

  h3{
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    color: rgb(31, 31, 31);
    @include inview_item();

    span{
      // display: block;
      border-top: 4px solid #007780;
      padding-top: 10px;
    }
  }

  dl{

    display: flex;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 60px auto 120px;
    @include inview_item();

    dt,dd{
      padding:25px 0;
      // background: #ebebeb;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px dashed #007780;
    }

    dt{
      width: 20%;
      border-right: 2px solid white;
    }

    dd{
      width: 78%;
      justify-content: flex-start;
      padding:25px 15px;
      line-height: 180%;

      br{
        display: none
      }

      a{
        // color: $coc;
        text-decoration: none;
        color: black;
      }

    }

    @include mq(){

      margin: 30px auto 60px;
     
      dt,dd{
        font-size: 14px;
      }

        dd{

          br{
            display: inline;
          }
        }
      
    }
    
  }

  @include mq(){

    padding: 50px 0 0;

    dl{
      padding: 0 15px;
    }

  }

}

.google-map {
  @include inview_item();
  position: relative;
  width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
  height: 0;
  padding-bottom: 36.25%;    /* padding-topでもOK */
  overflow: hidden;
  margin-top:80px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    /* 必要であれば!importantを付けてください */
    height: 100%;    /* 必要であれば!importantを付けてください */
  }

  @include mq(){

    padding-bottom: 70%;
    margin-top:30px;

  }
}
