
.cont3{
  
  @extend .cont1;
  background: url(../images/cont3_img.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;

  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  padding: 50px 0;
  margin: 50px 0;
  display: flex;
  justify-content: flex-start;
  
  .txtbox{

    margin-left: 10vw;
  }

  h3,p{
    @include inview_item();
  }

  .hstyle{
    font-size: 28px;
  }

}