

.cont1 {

  height: auto;
  @include content_padding();
  @include noto();


 
  background-image: url(../images/cont1_bg.png);
  background-repeat: no-repeat;
  background-size:400px auto;
  background-position: left 10% top 50px;

  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  overflow: hidden;

  .txtbox {

    @include inview_item();

    width: 50%;
    max-width: 500px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.4);
    

    .hstyle{
      
      color:$coc;
   
    }

    p{
      line-height: normal;
      font-size: 16px;
    }

  }
  
  .imgbox{

    width: 50%;
    max-width: 500px;
    height: auto;
    @include inview_item();


    img{
      width: 100%;
    }
  }


  @include mq(sm){

    .txtbox,.imgbox{
      width: 100%;
    }

    .txtbox{

      padding: 15px;
      
      .hstyle{
        font-size: 20px;
      }

      .linkbtn{

        width: 100%;
      }
    }

  }


}
