
.cont3{
  
  @extend .cont1;
  background: url(../images/cont3_img.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;

  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  padding: 50px 0;
  margin: 50px 0;
  display: flex;
  justify-content: flex-start;
  
  .txtbox{

    margin-left: 10vw;
    max-width: 600px;
    width: 60%;
  }

  h3,p{
    @include inview_item();
  }

  p{
    margin-left: 15px;
  }

  .hstyle{
    font-size: 32px;
  }


  @include mq(){

    .txtbox{
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      background-color: rgba(255, 255, 255, 0.858);
    }

  }


  @include mq(sm){

    padding: 15px 0;
    margin: 15px 0;
    min-height: 300px;

  }

}