.footnav{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#EDECE8;
 
    padding: 20px 15px;
    position: relative;
    z-index: 1002;

    li{

        margin: 0 5px;
        border-right: 1px solid white;
        padding-right: 10px;

        &:nth-last-of-type(1){
            border-right: 0px;
        }

        a{

            color: $sub;
            font-size: 16px;
            text-decoration: none;

            transition: .2s;
            
            &:hover{

                opacity: .7;
            }
        }
    }

    @include mq(sm){

        display: none;

        li{
            width: 100%;
            border-right: 0px;
            border-bottom: 1px solid white;
            margin-bottom: 15px;
            padding-bottom: 15px;
            text-align:center;

            &:nth-last-of-type(1){
                border-bottom: 0px;
                margin-bottom: 0;
                padding-bottom: 0px;
            }
        }
    }
}