header {

    width: 100%;
    // @include minw();
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .2s;

    &.scroll {

        background: rgba(255, 255, 255, 0.8);

        ul {

            li {
                color: $coc;
            }
        }
    }

    h1 {

        width: auto;
        display: block;
        font-size: 0;


        img {

            width: auto;
            height: 100%;
            height: 60px;
        }
    }

    ul {

        display: flex;
        justify-content: flex-end;

        li {

            margin: 0 10px;
            color: white;

            @include roboto();
            font-weight: bold;
            font-style: italic;
            text-align: center;

            a {
                font-size: 18px;
                color: $coc;
                text-decoration: none;

                @include mq(lg) {
                    font-size: 2vw;
                }

                &.current,&:hover{

                    color: black;

                }
            }

            span {
                font-size: 10px;
                margin-top: 5px;
                display: block;
                width: 100%;
            }
        }

    }

    @include mq() {

        background: white;

        &.scroll {
            background: white;
        }

        h1 {
            width: auto;
            height: 60px;
            z-index: 35000;

            img {
                width: auto;
                height: 100%;
            }

        }

        ul {

            width: 100%;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.831);

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            z-index: 34999;

            transition: .4s;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;

                li {
                    transform: translateX(0);
                    opacity: 1;
                    $values: 0.2s, 0.3s, 0.4s, 0.5s, 0.6s,0.7s;

                    @each $value in $values {
                        $key: index($values, $value);

                        &:nth-child(#{$key}) {
                            transition-delay: #{nth($values, $key)};
                        }
                    }

                }
            }




            li {

                width: 80%;
                height: 10vh;
                text-align: center;

                transition: all 600ms cubic-bezier(0.705, -0.015, 0.000, 1.020);
                transition-timing-function: cubic-bezier(0.705, -0.015, 0.000, 1.020);


                transform: translateX(-10%);
                opacity: 0;

                $values: 0s, 0s, 0s, 0s, 0s;

                @each $value in $values {
                    $key: index($values, $value);

                    &:nth-child(#{$key}) {
                        transition-delay: #{nth($values, $key)};
                    }
                }


                a {
                    color: $coc;
                    font-size: 6.5vw;
                    font-weight: bold;


                }

            }

        }

    }

}