.service_wrap {
  width: 100%;
  height: auto;
  @include content_padding();
  background-color: #fffcf6;

  display: flex;
  justify-content: center;
  position: relative;
  z-index: 6;
}

.service {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  li {
    @include inview_item();
    width: 48%;
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 4%;

    .imgbox {
      width: 25%;
      height: auto;
      padding: 7% 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $coc;
      border-radius: 100px;

      i {
        font-size: 50px;
        color: white;
      }
    }

    .txtbox {
      width: 70%;
      height: auto;

      .plant {
        font-size: 24px;
        color: $sub;
        border-bottom: 2px solid $sub;
        display: block;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @include mq() {
    li {
      width: 100%;

      .imgbox {
        width: 20%;
      }

      .txtbox {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        h4 {
          width: 100%;
        }
      }
    }
  }

  @include mq(sm) {
    li {
      align-items: center;
      margin-bottom: 8vh;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      .imgbox {
        i {
          font-size: 24px;
        }
      }

      .txtbox {
        .plant {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}



.steps_wrap {

  background-color: $bluebg;


  &.contact{
    background-color: $bluebg;
    background-image: url(../images/content_bg_blur.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    position: relative;

    &:after{
      content:'';
      width: 100%;
      height: auto;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-image: url(../images/cover_blue.png);
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat; 
      z-index: 3;

    }
  }

 
  @include content_padding();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;

  .step {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 120px;
    border-bottom: 1px dotted $sub;
    position: relativex;
    z-index: 5;

    &.type2{
      margin-bottom: 0;
      border-bottom: 0px;
    }

    h4 {
      font-size: 24px;
      color: white;
      padding: 5px 25px;
      background: $sub;
      border-radius: 50px;
      display: inline;
      br {
        display: none;
      }
    }

    .read {
      display: block;
      margin-top: 50px;
      color: rgb(80, 80, 80);
      font-size: 20px;
    }

    @include mq(sm) {
      margin-bottom: 60px;
      border-bottom: 0px;

      &:nth-last-of-type(1),
      &:nth-of-type(1) {
        margin-bottom: 0px;
      }

      .read {
        font-size: 16px;
        margin-top: 20px;

        br {
          display: none;
        }
      }

      h4 {
        font-size: 22px;
        padding: 0;
        background: none;
        color: $sub;
        padding-bottom: 15px;
        border-radius: 0;

        br {
          display: inline;
        }

        &:after {
          content: "";
          width: 100%;
          height: 0;
          display: block;
          border-bottom: 2px solid $sub;
          margin-top: 10px;
        }
      }
    }
  }

  &.type2{
    background-color: #fffcf6;
  }


}

.infocont {
  width: 100%;
  max-width: 1000px;
  height: auto;

  padding: 40px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  transform: scale(.7);
  transform-origin: center;

  dl {
    width: 48%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px;
    background: white;
    border-radius: 100px;
    border: 5px solid #e4f4f5;

    &.mailform {
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 2px $sub;
      }
    }

    dt {
      width: 20%;
      height: auto;
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      i {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $sub;
        border-radius: 100px;
        color: white;
      }
    }

    dd {
      width: 75%;
      height: auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .nums {
        font-size: 30px;
        color: $sub;
        font-weight: bold;
        text-align: left;
        display: block;
        width: 100%;
        border-bottom: 2px solid $sub;
      }

      .subspan,
      .txtonly {
        font-size: 24px;
        color: $sub;
      }
      .txtonly {
        font-weight: bold;
      }
    }
  }

  @include mq() {

    dl{

      dd{

        .txtonly{
          font-size: 20px;
        }
      }
    }

 
  }

  @include mq(sm) {

    transform: scale(1);
    padding: 40px 0 0;

    dl {
      align-items: center;
      margin-bottom: 20px;
      width: 100%;

      dt {
        i {
          font-size: 30px;
        }
      }

      dd {
        a {
          text-decoration: none;
        }

        .nums {
          font-size: 7vw;
        }
        .subspan,
        .txtonly {
          font-size: 5vw;
          color: $sub;
        }
      }
    }
  }
}

.stepdl {
  @include inview_item();
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 4%;

  margin-top: 40px;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.899);
  border-radius: 10px;

  dt {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $sub;
      border-radius: 200px;
      color: white;
    }
  }

  dd {
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;

    .plant {
      font-size: 18px;
      color: $sub;
      display: block;
      margin-bottom: 10px;
      text-align: left;
    }
  }

  @include mq() {
    align-items: center;
  }

  @include mq(sm) {

    border-radius: 30px;
    dt,
    dd {
      width: 100%;
    }

    dt {
      margin-bottom: 40px;

      $iconsize: 30%;

      &:before {
        padding-top: $iconsize;
      }

      i {
        width: $iconsize;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
