
.recruit_catch{

    @extend .compcatch;
    position: relative;
    z-index: 5;

    &:nth-of-type(2n){
        img{
            order: 1;
            
        }
    
        p{
            order: 2;
        }
    }

}

#recruit{

    h3{
    
        font-size: 60px;
        color: $coc;
        text-align: center;
        position: relative;
        z-index: 5;
    
        span{
          font-size: 18px;
          display: block;
          margin-top:10px;
        }
        @include inview_item();
      }

      @include mq(sm){

        h3{
            font-size: 28px;;
        }
      }
    
}

.training{

    width: 100%;
    height: auto;
    text-align:center;
    position: relative;
    z-index: 5;

    >img{
        width: 100%;
        max-width: 800px;
    }

    h4{
        display: block;
        margin-top:30px;
        margin-bottom: 30px;
        line-height: normal;
        font-size: 24px;

    }

    p{
        display: block;
        font-size: 18px;
        line-height: 180%;
        margin-bottom: 30px;
    }

    dl{

        display: flex;
        justify-content: space-between;
        align-items:stretch;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        margin: 60px auto 120px;
        @include inview_item();
    
        dt,dd{
          padding:25px 0;
          // background: #ebebeb;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          border-bottom: 1px dashed $coc;
        }
    
        dt{
          width: 20%;
          // border-right: 2px solid white;
        }
    
        dd{
          width: 78%;
          justify-content: flex-start;
          padding:25px 15px;
          line-height: 180%;
          text-align:left;
    
          br{
            display: none
          }
    
          span.break{
            display: block;
            width: 100%;
          }
    
          a{
            // color: $coc;
            text-decoration: none;
            color: white;
            background: $coc;
            padding:0 5px;
            display: block;
            font-size: 12px;
            margin-left: 10px;
            transition: .4s;
            transform: skewX(-10deg);

            &:hover{
                opacity: .5;
            }
          }
    
        }
    
        @include mq(){
    
          margin: 30px auto 60px;
         
          dt,dd{
            font-size: 14px;
          }
    
            dd{
    
              br{
                display: inline;
              }
            }
          
        }
        
      }

      @include mq(sm){

        padding: 30px 10px;

        h4{
            font-size: 20px;
            line-height: normal;
        }

        dl{

            dt,dd{
                width: 100%;
                justify-content: flex-start;
                
            }

            dt{
                font-size: 16px;
                font-weight: bold;
            }
        }
      }
}

.challenge,.interview{

    width: 100%;
    height: auto;
    @include content_padding();
    text-align:center;
    position: relative;
    z-index: 5;
    // padding-bottom: 0;

    p{
        display: block;
        font-size: 18px;
        margin: 50px 0;
    }

    .linkbtn{
        width: 250px;
        height: auto;
        margin: 0 auto;
    }


    .inbox{

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        width: 100%;
        height: auto;
       
      
        flex-wrap: wrap;

        @include maxw();
        margin: 50px auto;
        
        .imgbox{

            width: 30%;
            height: 100%;
            transform: skewX(-10deg);

            img{
                width: 100%;
                height: auto;
            }
        }

        .txtbox{

            width: 68%;
            height: 100%;
            text-align:left;
            background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
            background-size: 4px 4px;
            padding: 30px;
            transform: skewX(-10deg);
        
            h4 {

                font-size: 30px;
                color: $coc;
                text-align: left;
                margin-bottom: 25px;
    
                span {
                    font-size: 18px;
                    display: block;
                    margin-top: 10px;
                }
    
                @include inview_item();
            }

            p{
                margin: 0;
                line-height: 180%;
            }
        }

        @include mq(sm){

            .imgbox,.txtbox{
                width: 100%;
                transform: skewX(0deg);
            }



        }
   
    }

    .qa{
        margin-top:80px;
        // padding: 30px 30px 0 30px;
        background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
        background-size: 4px 4px;
        @include content_padding();
       

        dt{

            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
            font-weight: bold;
            color: $coc;
            font-style: italic;

            span{
                font-size: 28px;
            }

            p{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: $coc;
                color: white;
                padding: 5px 15px;
                border-radius: 50px;
                font-size: 24px;
                margin-top:0;
                margin-bottom: 20px;

                position: relative;

                &:before{
                    content: "";
                    border: 20px solid transparent;
                    border-top: 20px solid $coc;
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, 0);
                    bottom: -70px;
                    margin-bottom: 15px;
                }
               
            }
        }

        dd{

            max-width: 80%;
            margin: 0 auto;
            text-align:left;
            font-size: 18px;
            color: rgb(43, 43, 43);
            font-weight: bold;
            line-height: 180%;
            display: block;
            margin-bottom: 100px;
            &:nth-last-of-type(1){
                margin-bottom: 0;
            }
            display: flex;
            justify-content:space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 30px;
            background: white;

            .imgbox{
                width: 30%;

                img{
                    width: 100%;
                }
            }

            .txtbox{

                width: 65%;

            }
        }

        @include mq(sm){

            padding:20px  0;

            dt,dd{
                width: 100%;
                max-width: 100%
            }

            dt{

                p{
                    font-size: 12px;
                    line-height: normal;
                }
                span{
                    font-size: 20px;
                }
            }

            dd{
                padding: 15px;
                margin-bottom: 30px;
                font-size: 14px;


                .imgbox,.txtbox{

                    width: 100%;
                }
            }
        }
    }

    @include mq(sm){
        .sca{
            width: 100%;
            height: auto;

            img{
                width: 100%;
            }
        }
    }

}

.interview{
    padding-bottom: 0;
}
.challenge{


    background: url(../images/challenge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    h3{
        color: white !important;
    }

    >p{
        line-height: normal;
    }
    
    .linkbtn{

        background: white;
        color: $coc;
    }

}

