.swiper-container{

  width: 100%;
  height: auto;
  max-height: calc(100vh - 160px);


  @include minw();


  margin-top: $header_h !important;

  .banner{

    width: 50vw;
    max-width: 600px;
    height: auto;
    position: absolute;

    z-index: 10000;
    left:10vw ;
    top:50%;

  }

  @include mq(){

    overflow: hidden;

    max-height: calc(100vh - 30vh);

    .banner{

      width: 70vw;
      left: 5vw;
      top: 10%;
    }
  }


}

.swiper-slide{

  img{
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    object-position: 100% 100%;
    font-family: 'object-fit: cover;'; /*IE対策*/
    transition: 20s;
    transform: scale(1.2);

    @include mq(){
      height: 70vh;
    }

  }

  &.lasttype{

    img{

      @include mq(sm){
        object-position: 35% 100%;
      }

    }

  }

}

.swiper-slide-active{
  // width: 70%;

  
  img{
    transform: scale(1);
  }
}
