.swiper-container{
  width: 100%;
  height: auto;
  max-height: calc(100vh - 80px);

  @include minw();


  margin-top: $header_h !important;

  .banner{

    width: 50vw;
    max-width: 600px;
    height: auto;
    position: absolute;

    z-index: 10000;
    left:15vw ;
    top:20%;

  }


}

.swiper-slide img{
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  object-position: 100% 100%;
}

.swiper-slide-active{
  // width: 70%;
}
