@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { width: 100%; min-width: 800px; height: auto; margin: 0; padding: 0; overflow-x: hidden; font-family: 'Noto Sans JP', sans-serif; }

.swiper-container { width: 100%; height: auto; }

.swiper-slide img { width: 100%; height: auto; }

header { width: 100%; min-width: 800px; height: auto; position: fixed; left: 0; top: 0; z-index: 1000; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: .2s; transition: .2s; }
header.scroll { background: rgba(255, 255, 255, 0.8); }
header.scroll ul li, header.scroll ul li a { color: #008030; }
header h1 { width: 30vw; min-width: 200px; max-width: 300px; height: auto; display: block; }
header h1 img { width: 100%; height: auto; max-height: 80px; }
header ul { display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 700px; }
header ul li, header ul li a { margin: 0 10px; color: white; font-size: 14px; font-weight: bold; text-decoration: none; }
@media screen and (max-width: 900px) and (min-width: 769px) { header ul li, header ul li a { font-size: 1.3vw; } }
@media screen and (max-width: 768px) { header.scroll { background: none; }
  header ul { width: 100%; height: 100vh; position: fixed; left: 0; top: 0; background: rgba(255, 255, 255, 0.831); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; z-index: 34999; -webkit-transition: .4s; transition: .4s; opacity: 0; pointer-events: none; }
  header ul.active { opacity: 1; pointer-events: all; }
  header ul li { width: 80%; height: 10vh; text-align: center; }
  header ul li a { color: #008030; font-size: 20px; font-weight: bold; } }

.swiper-slide { position: relative; }
.swiper-slide h2 { font-size: 3vw; font-weight: bold; color: white; text-shadow: 2px 2px 5px black; position: absolute; text-align: center; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 35%; }
.swiper-slide h2 span { font-size: 12px; font-weight: normal; display: block; margin-top: 15px; }

.bodyimg { width: 100%; height: auto; margin: 0 auto; background: url(../images/main_bg.jpg); background-repeat: repeat-x; background-size: auto 100%; background-position: left bottom; text-align: center; line-height: 0; }
.bodyimg img { width: 100%; max-width: 1200px; margin: 0 auto; }

.bMenu { position: fixed; right: 0vw; top: 0vw; z-index: 35000; display: none; cursor: pointer; background: #008030; }
.bMenu .menu-trigger { position: relative; width: 60px; height: 60px; padding: 21px 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: justify; align-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.bMenu .menu-trigger span { display: inline-block; -webkit-transition: all .7s; transition: all .7s; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2px; background-color: white; }
.bMenu .menu-trigger.active span:nth-of-type(1) { -webkit-transform: translateY(8px) rotate(-315deg); transform: translateY(8px) rotate(-315deg); }
.bMenu .menu-trigger.active span:nth-of-type(2) { opacity: 0; }
.bMenu .menu-trigger.active span:nth-of-type(3) { -webkit-transform: translateY(-8px) rotate(315deg); transform: translateY(-8px) rotate(315deg); }
@media screen and (max-width: 768px) { .bMenu { display: block; } }
