@charset "UTF-8";

$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'xl': 'screen and (min-width: 1139px)',
  'gnavbp': 'screen and (max-width: 980px) and (min-width: 769px) ',

) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*{
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

@mixin noto() {
  font-family: 'Noto Sans JP', sans-serif;
}
 
@mixin maxw() {
  max-width: 1200px;
}

@mixin minw() {
  min-width: 800px;
  @include mq(){
    min-width: 10px;
  }
}
 
//コーポレートカラー
$coc: #008030;

//フォントカラー
$fontc: rgb(33, 33, 33);

//余白
@mixin content_padding() {
  padding-top:    100px;
  padding-bottom: 100px;
}

//inview
@mixin inview_item() {

  transition: .6s;
  transform: translateY(30px);
  opacity: 0;

  &.move{
    transform: translateY(0px);
    opacity: 1;
  }
}

 
body{

  width: 100%;
  @include minw();
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @include noto();
}


@import "header";


.contentWrapper{
  width: 100%;
  height: auto;

  @include mq(){

    padding-top: 60px;
  }
}

.linkbtn{

  @include inview_item();
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: $coc;
  padding: 15px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: .4s;

  i{
    margin-left: 10px;
  }

  &:hover{

  
    opacity: .8;
    letter-spacing: 1px;

  }

}



@import "cont1";
@import "cont2";
@import "swiper";
@import "sp_menu";
