@charset "UTF-8";

$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'xl': 'screen and (min-width: 1139px)',
  'gnavbp': 'screen and (max-width: 980px) and (min-width: 769px) ',

) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html *{
    box-sizing: border-box;
}

a[href^="tel:"] {
  pointer-events: none;

  @include mq(){
    pointer-events: all;
  }
  
}


html,
body {
    @media print {
        max-width: 210mm;
        top: 0 !IMPORTANT;
        left: 0 !IMPORTANT;
        width: 200mm !IMPORTANT;

        @page {
            size: A4;
            margin: 0;
        }
    }
}

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

@mixin noto() {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;

}
 
@mixin maxw() {
  width: 100%;
  max-width: 1200px;

}

@mixin minw() {
  min-width: 800px;
  @include mq(){
    min-width: 10px;
  }
}
 
//コーポレートカラー
$coc: #008030;

//フォントカラー
$fontc: rgb(33, 33, 33);

//余白
@mixin content_padding() {
  padding-top:    100px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;

  @include mq(){
    padding-top:    50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

//inview
@mixin inview_item() {

  transition: .6s;
  transform: translateY(30px);
  opacity: 0;

  &.move{
    transform: translateY(0px);
    opacity: 1;
  }

  @media print {
    transform: translateY(0px);
    opacity: 1;
  }
}

 
html{
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}

body{

  width: 100%;
  @include minw();
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @include noto();

  position: relative;

  @include mq(){

    width: 100vw;
   
  }
}


@import "header";


.contentWrapper{

  width: 100%;
  height: auto;

  @include mq(){

    width: 100vw;
    padding-top: 60px;
    
 
  }
}

.linkbtn{

  @include inview_item();
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;

  background: linear-gradient(to right, #0575E6, rgb(29, 237, 181));
  background: #007780;
  padding: 15px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: .4s;

  i{
    margin-left: 10px;
  }

  img{
    margin-left: 10px;
    width: 16px;
    height: auto;
    
  }

  &:hover{

    opacity: .8;
    letter-spacing: 1px;

  }

}

.eye{

  width: 100%;
  height: 250px;
  background: url(../images/eye_bg.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h2{
    font-size: 30px;
    color: white;
    text-shadow: 0 0 4px gray;
    letter-spacing: 2px;
    text-align: center;
    margin-top:30px;

    &:after{
      content:attr(data-caps);
      font-weight: 100;
      display: block;
      width: 100%;
      // opacity: .5;
      margin-top: 15px;
      letter-spacing: 1px;
      
    }
  }

  @include mq(){

    height: 150px;

    h2{
      font-size: 20px;
    }
  }

}


#pagetop{

  width: 40px;
  height: 40px;
  display: block;
  background: rgb(230, 230, 230);
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 34000;

  opacity: 0;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
  cursor: pointer;

  i{
    color: white;
  }

  img{
    width: 80%;
    height: auto;
    transition: .2s;
  }

  &.active{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  &:hover{
    opacity: .7;

    img{
      transform: translateY(-3px);
    }
  }

  @include mq(){

    display: none;
  }

}
  
@import "cont1";
@import "cont2";
@import "cont3";
@import "contactbtn"; 
@import "footer"; 
@import "loader"; 
@import "swiper";
@import "sp_menu";
@import "feature";
@import "service";
@import "company";
@import "contact";
   